{% extends "common.html" %}

{% block start %}
<h1>This is the index page</h1>
<div class="container">
  <h1 class="title"><p>{{ text|truncatechars:20 }}</p></h1>
  
  <h1>{{ vegies.firstof }}</h1>
  
  <p class="subtitle">
    Here is a list of people and their eligibility to vote:
  </p>
  
  <table>
    <tr>
      <th>Sr. No</th>
      <th>Name</th>
      <th>Age</th>
      <th>Can Vote</th>
    </tr>
    {% for person in peoples %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>
        {% if person.age >= 18 %}
          👍
        {% else %}
          👎
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  
  <a href="/contact/">Contact us</a><br>
  <a href="/about/">About</a>
</div>
{% endblock %}
