{% extends "common.html" %}

{% block start %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add receipe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe name</label>
          <input name="receipe_name"  required type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Receipe description</label
          >
          <textarea class="form-control" required name="receipe_desc"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" 
            >Receipe Image</label
          >
          <input type="file" name="receipe_image"  requiredclass="form-control" />
        </div>``
  
        <button type="submit" class="btn btn-success">Add receipe</button>
      </form>
    </div> 

{% endblock %}